
#MenuPrincipal {
	display: flex;
	width: 100%;
	max-height: 20%;
	background-image: url(../../assets/images/topography.svg);
	justify-content: space-between;

}

#MenuPrincipal > a > img {
	min-width: 50px;
	max-width: 50px;
	height: auto;
	margin-right: 10px;
}
.active {
	background-color: #c71818;
}
#MenuPrincipal button {
	background-color: Transparent;
	outline: none;
	border: none;
	max-width: 50px;
	height: auto;
	margin-left: 10px;
}
:focus {
	color: blue;
}
#MenuPrincipal button img {
	width: 100%;
	height: auto;
}